// ********** STYLE GUIDE **********

// ************* COLORS ************
$color-text-bold: hsl(238, 29%, 16%);
$color-question: hsl(237, 12%, 33%);
$color-question-hover: hsl(14, 88%, 65%);
$color-gradient-start: hsl(273, 75%, 66%);
$color-gradient-end: hsl(240, 73%, 65%);
$color-answer: hsl(240, 6%, 50%);
$color-divider: hsl(240, 5%, 91%);
$color-card-bg: hsl(0, 0%, 100%);

// ********** FONT FAMILY **********
$font-primary: "Kumbh Sans", sans-serif;

// ********* FONT WEIGHTS **********
$font-weight-regular: 400;
$font-weight-bold: 700;

// ************* BASE **************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

// ********* MOBILE LAYOUT *********
html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 14.8rem 0 8.5rem;
  background: linear-gradient($color-gradient-start, $color-gradient-end);
  font-family: $font-primary;
}

// ************** CARD *************
.card {
  max-width: 43.6rem;
  width: 87.2vw;
  background: $color-card-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13.2rem 2.4rem 4.8rem;
  border-radius: 2.3rem;
  box-shadow: 0 5rem 5rem -2rem rgba(53, 18, 122, 0.5);
  position: relative;

  // ***** CARD IMAGE CONTAINER ****
  &__image--container {
    max-width: 23.7rem;
    max-height: 18rem;
    position: absolute;
    top: 0;
    transform: translateY(-60%);

    &::after {
      content: "";
      display: block;
      background-image: url("../images/bg-pattern-mobile.svg");
      width: 24rem;
      height: 14.5rem;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &__image {
    max-width: 100%;
  }
}

// ******** FAQ CONTAINER ********
.FAQ {
  max-width: 37.2rem;
  width: 74.4vw;

  &__header {
    color: $color-text-bold;
    font-size: 3.2rem;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 3.8rem;
  }

  &__QnA-container {
    border-bottom: 1px solid $color-divider;

    &__icon {
      margin-left: auto;
      transition: all 0.3s;
    }
  }

  &__question-container {
    display: flex;
    align-items: center;
    padding: 1.9rem 0;

    &.first {
      padding-top: 0;
    }
  }

  &__question {
    color: $color-question;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  &__answer-container {
    margin: -0.6rem 0 0;
    padding-bottom: 1.6rem;
  }

  &__answer {
    display: block;
    width: 95%;
    color: $color-answer;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

// *** HOVER STATES FOR DESKTOP ***

// ******* 992px MEDIA QUERY *******
@media (min-width: 62em) {
  .FAQ {
    &__QnA-container:hover {
      cursor: pointer;
    }

    &__QnA-container:hover &__answer-container {
      cursor: auto;
    }

    &__question:hover {
      color: $color-question-hover;
    }
  }
}

// ****** 1440px MEDIA QUERY ******
@media (min-width: 90em) {
  html,
  body {
    height: 100%;
  }

  body {
    align-items: center;
    padding: initial;
  }

  // ************* CARD ************
  .card {
    max-width: initial;
    width: 92rem;
    height: 50.9rem;
    flex-direction: row;
    align-items: initial;
    padding: 6.5rem 9.5rem 8.3rem 0;
    overflow: hidden;

    // *** CARD IMAGE CONTAINER ***
    &__image--container {
      max-width: initial;
      max-height: initial;
      width: 47.16rem;
      height: 35.9rem;
      transform: initial;
      position: relative;
      top: 0.5rem;
      left: -8.3rem;

      &::before {
        content: "";
        display: block;
        background-image: url("../images/illustration-box-desktop.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: 13.4rem 0 0 -1.2rem;
      }

      &::after {
        content: "";
        background-image: url("../images/bg-pattern-desktop.svg");
        width: 96.4rem;
        height: 56.8rem;
      }
    }
  }
}

// * CLASSES USED WITH JAVASCRIPT *
.hidden {
  display: none;
}

.bold {
  font-weight: $font-weight-bold;
  color: $color-text-bold;
}

.rotate {
  transform: rotate(-180deg);
}
